# 🚀 Node.js Dependencies
node_modules/
package-lock.json

# 🛠 Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# 🔐 Environment Variables
.env

# 💾 Database Files
*.sqlite
*.sqlite-journal
mongodb/

# 🔍 IDE / Editor Files
.vscode/
.idea/
.DS_Store
*.swp

# 🚢 Docker
docker-compose.override.yml
docker/data/

